<template>
  <v-app>
    <v-toolbar light>
      <v-toolbar-title v-text="title"></v-toolbar-title>
    </v-toolbar>
    <main>
      <v-container fluid>
        <v-slide-y-transition mode="out-in">
          <nuxt />
        </v-slide-y-transition>
      </v-container>
    </main>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        clipped: false,
        drawer: true,
        fixed: false,
        items: [
          { icon: 'apps', title: 'Welcome', to: '/' },
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Tech Startup Elevator Pitch Generator'
      }
    }
  }
</script>
