<template>
  <v-layout align-horiz-center justify-space-around>
    <v-card>
      <v-card-text>
        <blockquote>
          <h3>
          {{ intro }} <code>{{ company }}</code> for <code>{{ thing }}</code>.
          </h3>
        </blockquote>
      </v-card-text>
    </v-card>
  </v-layout>
</template>

<script>

var intros = [
  "Think",
  "It's like",
  "Imagine",
  "Basically,",
  "It's",
  "It's kind of",
  "In a nutshell, it's"
]

var companies = [
  "Spotify",
  "YouTube",
  "Uber",
  "AirBnB",
  "Google",
  "eBay",
  "Facebook",
  "Snapchat",
  "Instagram",
  "Tinder",
  "mspaint"
]

var things = [
  "food",
  "drinks",
  "cars",
  "funerals",
  "holidays",
  "bathing",
  "sleeping",
  "cats",
  "personal grooming",
  "naturism",
  "euthanasia"
]

  module.exports = {

    data: function(){
      return {
        company: "",
        thing: "",
        intro: ""
      }
    },
    mounted: function(){
      console.log("created");
      this.company = companies[Math.floor(Math.random() * companies.length)];
      this.thing = things[Math.floor(Math.random() * things.length)];
      this.intro = intros[Math.floor(Math.random() * intros.length)];
    }
  }


</script>
